@inherits LayoutComponentBase

<div class="page">
    <div class="main">
        <div class="top-row px-4">
            <h3>WikiGame</h3>
            <a href="https://en.wikipedia.org/wiki/Wikipedia:Wiki_Game" target="_blank">About</a>
        </div>

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
